body{
    background-image:url(../img/0bb6dqsiab451.gif);
    display: block;
    background-size: contain;
    height: 2000vh;
}
h1 {
    color: red;
    font-size: 5rem;
}

h3{
    color: black;
    font-size: 5rem;
    text-align: center;
}

label {
    color:white;
}

li {
    color: yellow;
}